<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommercefashion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceFashion">
        <activity
            android:name=".NotificationMgtActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CouponsActivity"
            android:exported="false" />
        <activity
            android:name=".SalesProduct"
            android:exported="false" />
        <activity
            android:name=".Coupons"
            android:exported="false" />
        <activity
            android:name=".UserMgt"
            android:exported="false" />
        <activity
            android:name=".ProductMgt"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="875787058687" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AdminActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".CheckOutLarge" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".CouponActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SeachActivity"
            android:exported="true" />
        <activity
            android:name=".CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingCartActivity"
            android:exported="true" />
        <activity
            android:name=".LoginSreen"
            android:exported="true" />
        <activity
            android:name=".ItemDetail"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>